<!DOCTYPE html>
<html>
<head>
	{% include 'includes/head.html' %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/splash.css'%}">
</head>
<body>
	<div class="main">
	<video autoplay>
		<source src="{{ song }}" type="audio/mpeg">
	</video>
	<div class="card">
		<div class="containery">
			<img src="{{ image }}" alt="Profile" style="width:100%">
			<h3>{{ name }}</h3>
		</div>
	</div>
	<div class="likedis">
	<a href='http://localhost:8000/disliked/' class="spotify-button">:(</a>
	<a href='http://localhost:8000/liked/' class="spotify-button">:)</a>
	</div>
	</div>
</body>
</html>
